<a class="catalog-content-item" href="{{ link }}">
    <img src="{{ thumbnail }}" alt="">
    <div class="catalog-content-item-name">
        <h4>{{ title }}</h4>
    </div>
    <div class="catalog-content-item-price">
        {% if prices[1] %}
            {% if prices[0] %}
                <div class="catalog_old-price">{{ prices[0] }} <span>₽</span></div>
            {% endif %} 
            <div class="catalog_current-price catalog_current-price--sale">{{ prices[1] }} <span>₽</span></div>        
        {% else %}
            {% if prices[0] %}
                <div class="catalog_current-price">{{ prices[0] }} <span>₽</span></div> 
            {% endif %} 
        {% endif %} 
    </div>
</a>

