{% include "partials/header.twig" %}
<main class='main-content single'>
	{{ function('woocommerce_breadcrumb') }}
	<div class="news-page page-content page-content--default container">
		<div class="news-page-left">
		<h1 class="default-page-title">{{ post.title }}</h1>
        {{ post.get_content|shortcodes }}
        <div class="default-gallery">
        	{% for image in gallery %}
            <a data-fancybox="g1" href="{{ Image(image) }}" class="default-gallery-item">
                <img src="{{ Image(image) }}" alt="">
            </a>
            {% endfor %}
        </div>

        {{ after_text }}
        </div>
        <div class="news-page-right">
        	<div class="news-page-right-name">Другие новости</div>
        	<div class="news-page-right-items">
				{% for post in extra_news %}
					<a href="{{ post.link }}" class="other-news-item">
						<div class="other-news-item-img">
							{% if post.thumbnail %}
								<picture>
									<source srcset="{{ post.thumbnail.src('medium_large')|tojpg }}" type="image/jpeg">
									<img src="{{ post.thumbnail.src('medium_large')|tojpg }}" alt="{{ post.title }}">
								</picture>
							{% else %}
								<img class="" src="{{ site.theme.link }}/assets/images/placeholder-images.webp" alt="">
							{% endif %}
						</div>
						<div class="other-news-item-name">{{ post.title }}</div>
					</a>
				{% endfor %}
        	</div>
        </div>
        <div class="news-page-bottom">
        	<div class="news-page-bottom-name">Читайте так же</div>
        	<div class="news-page-bottom-items">
				{% for post in read_news %}
					<a href="{{ post.link }}" class="news-page-bottom-item">
						<div class="news-page-bottom-item-img">
							{% if post.thumbnail %}
								<picture>
									<source srcset="{{ post.thumbnail.src('medium_large')|tojpg }}" type="image/jpeg">
									<img src="{{ post.thumbnail.src('medium_large')|tojpg }}" alt="{{ post.title }}">
								</picture>
							{% else %}
								<img class="" src="{{ site.theme.link }}/assets/images/placeholder-images.webp" alt="">
							{% endif %}
						</div>
						<div class="news-page-bottom-item-name">{{ post.title }}</div>
					</a>
				{% endfor %}
        	</div>
        </div>
    </div>

</main>
{% include "partials/footer.twig" %}