{% include "partials/header.twig" %}
<main class='main-content single' id="app">
    <div class="product-content">
        {{ function('woocommerce_breadcrumb') }}
        <div class="product-slider">
            <div class="product-slick-for">
                <div class="product-slick-for-content">
                    <a data-fancybox="" href="{{ post.thumbnail.src('full') }}"><img src="{{ post.thumbnail.src('full') }}" alt=""></a>
                </div>
                {% for id in product.gallery_image_ids %}
                <div class="product-slick-for-content">
                    <a data-fancybox="" href="{{ Image(id).src }}"><img src="{{ Image(id).src }}" alt=""></a>
                </div>
                {% endfor %}
            </div>
            <div class="product-slick-nav">
                <div class="product-slick-nav-content">
                    <img src="{{ post.thumbnail.src('full') }}" alt="">
                </div>
                {% for id in product.gallery_image_ids %}
                <div class="product-slick-nav-content">
                    <img src="{{ Image(id).src }}" alt="">
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="product-info">
            <div class="product-name">
                <h1>{{ post.title }}</h1>
            </div>
            <div class="product-price">
                {% if prices[1] %}
                    {% if prices[0] %}
                        <div class="product-old-price">
                            <span class="old-price_value">{{ prices[0] }}</span>₽<span></span>
                        </div>
                    {% endif %}
                    <div class="product-current-price">{{ prices[1] }} <span>₽</span></div>
                {% else %}
                    {% if prices[0] %}
                        <div class="product-current-price">{{ prices[0] }} <span>₽</span></div>
                    {% endif %}
                {% endif %}               
            </div>
            {% if product_variations %}
                <div class="product-sizes" v-if="uniqueProductVariations.length > 0">
                    <div class="product-sizes-header">
                        <div class="product-sizes-name">Выберите размер</div>
                        <a data-fancybox="sizes_image" class="product-sizes-table" href="{{ sizes_image }}">Таблица размеров</a>
                    </div>
                    <div class="product-sizes-content">
                        <label class="control control-radio size-item" v-for="unicSize in uniqueProductVariations" v-cloak>
                            <input v-model="productID" @change="selectSize" type="radio" name="size" :value="unicSize.id" />
                            <div class="control_indicator size-item__label">(( unicSize.value ))</div>
                        </label> 
                    </div>
                </div>
            
            {# <div class="product-colors">
                <div class="product-colors-name">Выберите цвет</div>
                <select name="product_color" v-model="currentColor">
                    <template v-for="unicColor in unicColors">
                        <option  v-cloak :value="unicColor">(( unicColor ))</option>
                    </template>
                </select>
            </div> #}
            {% endif %}
            <div class="product-info-content">
            	<p>Артикул: {{ sku }}</p>
                <p>Состав: {{ product.get_attribute('pa_im-sostav-osnovnaya-tkan-v') }}</p>
            </div>
            <div class="product-buttons">
                <a class="btn-cart" ref="button_cart" href="" data-id="{{ product.id }}" v-on:click.prevent="addCart(productID)">Добавить в корзину</a>
                <favorite :product-id="{{product.id}}" textbutton="В избранное" color="808D9A" :favorites="favorites"></favorite>
            </div>
            <div class="product-description">
                {{ post.preview.length(999).read_more('') }}
            </div>
        </div>
    </div>
    <div class="collections_block">
        <div class="collections_block-header">
            <div class="collections_block-title">Вам может понравиться </div>
        </div>
        <div class="collections-content _single-product">
            <div class="collections-content-inner">
                <div class="collections-slick">
                    {% for post in random_prod %}
                    <div class="collections-slick-content">
                        {{ fn('product_render', post) }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% include "partials/footer.twig" %}